@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* font-family: 'Poppins', sans-serif; */


:root {
    --color-web-1: #0d1321;
    --color-web-2: #1D2D44;
    --color-web-3: #3E5C76;
    --color-web-4: #748CAB;
    --color-web-5: #d6d6d6;
    --color-web-6: #ffffff;

    --font-style-principal: 'Poppins', sans-serif;
    --text-light-color: rgb(134, 83, 83);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.15rem;
    line-height: 1.2;
    font-weight: 300;
    list-style: none;
    font-size: 16px;
    font-family: var(--font-style-principal);
    color: var(--text-light-color);
    text-align: center;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.opb {
    object-position: bottom;
}

.opt {
    object-position: top;
}

.opc {
    object-position: center;
}

.opr {
    object-position: right;
}

.opl {
    object-position: left;
}

@media only screen and (orientation: landscape) {
    html {
        font-size: calc(1vh + 16px);
    }
}

@media only screen and (orientation: portrait) {
    html {
        font-size: calc(1vw + 16px);
    }
}